<li class="task-item">
    <i class="task-checkbox">
        <span class="material-icons">check_box_outline_blank</span>
    </i>
    <p class="task-text">My first task</p>
    <button class="bi bi-pencil"></button>
    <button class="bi bi-trash3"></button>
</li>

@code {

}
